<aside class="twitter">
    <a class="twitter-timeline" data-width="400" data-height="80vh" href="https://twitter.com/{{userPref.fighter.twitterLink}}?ref_src=twsrc%5Etfw">Tweets by {{userPref.fighter.name}}</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>