<aside class="twitter">
    <a class="twitter-timeline" href="{{userPref.fighter.twitterLink}}">Tweets by {{userPref.fighter.name}}</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>