<aside class="twitter">
<<<<<<< HEAD
<a class="twitter-timeline" data-width="400" data-height="80vh" data-theme="dark" href="https://twitter.com/ufc?filter:news?ref_src=twsrc%5Etfw">Tweets by ufc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
=======
<a class="twitter-timeline" data-width="400" data-height="80vh" data-theme="light" href="https://twitter.com/ufc?filter:news?ref_src=twsrc%5Etfw">Tweets by ufc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
>>>>>>> 5ec2ff79783410e39754725d97b22a874b1bc365
</aside>