<aside class="twitter">
<a class="twitter-timeline" data-width="400" data-height="80vh" data-theme="light" href="https://twitter.com/{{user.league}}?filter:news?ref_src=twsrc%5Etfw">Tweets by ufc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</aside>