<div class="nav-wrapper" id="nav-wrapper">
  <div class="left-nav">
    <a href="/home" id="nav-jab" class="nav-link nav-logo"><img src="/images/logo/basic.png" alt="JAB" class="logo_main" id="main_logo"></a>
    <div class="nav-all-users">
        <a href="/home" id="nav-home" class="nav-link removed">Home</a>
        <a href="/videos" id="nav-videos" class="nav-link removed">Videos</a>
        {{#if isLoggedIn}}
          <a href="/cage" id="nav-cage" class="nav-link removed">My Cage</a>
    
        {{/if}}

    </div>
  </div>
  <div class="right-nav">
    {{!-- {{#unless isLoggedIn}}

    {{/unless}} --}}
    {{#if isLoggedIn}}
      <a href="/preferences"><i class="far fa-user nav-link user-icon" ></i></a>
      <a  href="/logout" id="nav-logout" class="nav-link">Log out</a>
      {{else}}
      <a  href="/signin" id="nav-login" class="nav-link">Sign in</a>
    {{/if}}
  </div>
  {{>mobile_menu}}
  <i id="burger" class="fa fa-bars"></i>


</div>