 <ul>
        <li>UFC <input type="checkbox" name="ufc" id="ufc"></li>
        <li>Bellator<input type="checkbox" name="bellator" id="bellator"> </li>
        <li>Invicta <input type="checkbox" name="invicta" id="invicta"></li>
        <li>One<input type="checkbox" name="one" id="one"></li>
        <li>IFL<input type="checkbox" name="ifl" id="ifl"></li>
</ul>

{{!-- <ul>
    <li><img src="{{this.imgUrl}}" alt="{{this.name}}"><input type="checkbox" name="{{this.name}}" id="{{this.name}}"></li>
</ul> --}}