 <ul class="tags_ul">
        <li class = "tags_li"><img src="/images/ufc.png" alt="" class="tags_img"> <input type="checkbox" name="ufc" id="ufc"></li>
        <li class = "tags_li">Bellator<input type="checkbox" name="bellator" id="bellator"> </li>
        <li class = "tags_li">Invicta <input type="checkbox" name="invicta" id="invicta"></li>
        <li class = "tags_li">One<input type="checkbox" name="one" id="one"></li>
        <li class = "tags_li">IFL<input type="checkbox" name="ifl" id="ifl"></li>
</ul>

{{!-- <ul>
    <li><img src="{{this.imgUrl}}" alt="{{this.name}}" class="tags_img"><input type="checkbox" name="{{this.name}}" id="{{this.name}}"></li>
</ul> --}}