 <ul class="tags_ul">
        <li class = "tags_li">
            <img src="/images/ufc.png" alt="ufc" class="tags_img"> 
            <input type="checkbox" name="ufc" id="ufc">
        </li>
        <li class = "tags_li">
            <img src="/images/bellator.png" alt="bellator" class="tags_img">
            <input type="checkbox" name="bellator" id="bellator"> 
        </li>
        <li class = "tags_li">
            <img src="/images/invicta.png" alt="invicta" class="tags_img">
            <input type="checkbox" name="invicta" id="invicta">
        </li>
        <li class = "tags_li">
            <img src="/images/one.png" alt="one" class="tags_img">
            <input type="checkbox" name="one" id="one">
        </li>
</ul>

{{!-- <ul>
    <li><img src="{{this.imgUrl}}" alt="{{this.name}}" class="tags_img"><input type="checkbox" name="{{this.name}}" id="{{this.name}}"></li>
</ul> --}}