<div class="user_gif">
    <img src="{{userPref.fighter.gifPath}}" alt="{{userPref.fighter.name}}" class="user_gif">
</div>
<div class="user_text">
    <h2 class="hello">Hello {{userPref.user.username}}!</h2>
    <p>Happy to see you here!</p>
</div>