<div class="hello_div">
<div class="user_gif_div">
    <img src="{{userPref.fighter.gifPath}}" alt="{{userPref.fighter.name}}" class="user_gif">
</div>
<div class="user_text">
    <h2 class="hello">Hello {{userPref.user.username}}! </h2>
    <h3>Happy to see you here!</h3>
    <p>Check your news below</p>
</div>
</div>