<div class="user_gif">
    <img src="{{user.gif}}" alt="{{user.fighter}}">
    </div>
    <div class="user_text">
        <h2 class="hello">Hello User!</h2>
        <p>Happy to see you here!</p>
    </div>
