<div class="user_gif">
    <img src="{{this.fighter.gifPath}}" alt="{{this.fighter.name}}" class="user_gif">
</div>
<div class="user_text">
    <h2 class="hello">Hello {{this.user.username}}!</h2>
    <p>Happy to see you here!</p>
</div>