<div class="container">
    {{> user_welcome userPref}}
</div>
<div class="container">
    {{>aside_user league}}
<div class="articles">
    {{#each article}}
    {{>article_container}}
    {{/each}}
</div>

</div>