<div id="taglist" class="maintags">
    {{>tag_bar}}
</div>

<div class="container">

    {{>aside_main}}
    <div class="articles">
        {{#each articles}}
        {{> article_container}}
        {{/each}}
    </div>

</div>