{{!-- {{>header}} --}}
<div id="taglist" class="maintags">
    {{>tag_bar}}
</div>

<div class="container" id="home_content">

    {{>aside_main}}
    <div class="articles">
        {{#each articles}}
        {{!-- <p>yo</p>
        {{this._id}}
        {{this.imgUrl}} --}}
        {{> article_container this}}
        {{/each}}
    </div>

</div>