<div id="taglist" class="maintags">
    {{>tag_bar}}
</div>

<div class="container">

<<<<<<< HEAD
{{> aside_main}}

</aside>
=======
{{>aside_main}}
>>>>>>> 5ec2ff79783410e39754725d97b22a874b1bc365
<div class="articles">
    {{!-- {{#each article}} --}}
        {{> article_container}}
    {{!-- {{/each}} --}}
</div>

</div>