.main{
    display:flex;
    justify-content:center;
    align-items:center;
    /* margin : 5vh 0 0 0; */
    margin:5vh 0 -6vh 0;
   background-image:url('/images/header/diazmasvidal.jpg');
    background-size : contain;
    background-position:center;
    background-repeat: no-repeat;
    height : 50vh;
    background-color:#202020;
}

.main_title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
  }