.header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.container {
  display: flex;
  /* position :relative; */
  flex-direction: row;
  margin: 20px 50px;
}

.maintags {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
  /* align-items: center; */
  background-color: #20202028;
  /* width: 14vw; */
  /* margin: 0 auto; */
  margin-left: 2vw;
  height: 80vh;
  position: sticky;
  top: 94px;
  border: solid rgb(20,20,20);
}

.maintags li {
  margin-right: 38px;

}
.tags_img {
  width: 50px;
  height: 50px;
  margin: 2vh 1vw;
}

.tags_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.tags_li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* margin:2vh auto; */
}

.twitter {
  width: auto;
  height:80vh;
  left: 0;
  margin-right: 30px;
  border: solid rgb(20, 20, 20);
  position: sticky;
  top: 94px;
  /* box-shadow: 10px 10px rgba(29, 161, 242, 0.9);  */
  
  /* position : fixed; */
}



.articles {
  width: 80%;
}

.article {
  /* border: solid 1px #202020; */
  padding: 10px;
  margin-bottom: 20px;
  border: solid rgb(20, 20, 20);
}

.article:hover {
  box-shadow: 10px 10px rgb(255, 0, 0, 0.7);
}

.article .content {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.content .articleDiv {
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
  padding-bottom: 10px;
}

.articleTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.interact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.articleImage {
  width: 250px;
  height: auto;
}

/* .sticky {
  position: fixed;
  top: 6vh;
  z-index:100;
  background-color: #dcdcdc;
  width: 80vw;
  margin: 0 auto;
} */