.header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.container {
  display: flex;
  /* position :relative; */
  flex-direction: row;
  margin: 20px 50px;
}

.maintags {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
  /* align-items: center; */
  background-color: #202020;
  /* width: 14vw; */
  /* margin: 0 auto; */
  color: white;
  margin-left: 2vw;
  height: 80vh;
  position: sticky;
  top: 94px;
  border: solid rgb(20, 20, 20);
}

.maintags li {
  margin-right: 38px;
}
.tags_img {
  max-width: 50px;
  max-height: 50px;
  /* margin: 1vh 1vw; */
}

.tags_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tags_li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;

  /* margin:2vh auto; */
}

#burger {
  display: none;
  margin: 10px 5px;
  visibility: visible;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}

#sidebar {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  right: -800px;
  transition: right 0.4s linear;
  height: auto;
  width: auto;
  background-color: black;
  color: white;
}

.tag_hover:hover {
  cursor: pointer;
}

.tag_hover {
  display: flex;
  flex-flow: column wrap;
}

.twitter {
  width: auto;
  height: 80vh;
  left: 0;
  margin-right: 30px;
  border: solid rgb(20, 20, 20);
  position: sticky;
  top: 94px;
  /* box-shadow: 10px 10px rgba(29, 161, 242, 0.9);  */

  /* position : fixed; */
}

.articles {
  width: 80%;
}

.article {
  /* border: solid 1px #202020; */
  padding: 10px;
  margin-bottom: 20px;
  border: solid rgb(20, 20, 20);
}

.article:hover {
  box-shadow: 10px 10px rgba(255, 0, 0, 0.7);
}

.article .content {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.content .articleDiv {
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
  padding-bottom: 10px;
}

.articleTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.interact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.articleImage {
  width: 250px;
  height: auto;
}

.like {
  width: 1.8rem;
}

/* .sticky {
  position: fixed;
  top: 6vh;
  z-index:100;
  background-color: #dcdcdc;
  width: 80vw;
  margin: 0 auto;
} */

.commentator h4 {
  margin: 0;
}

.comment_display {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.comment_display::-webkit-scrollbar {
  display: none;
}
