.one-league-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.league-selection-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  justify-content: space-around;
  margin: 10px auto;
}

.league-logo{
  width: 120px;
}

.page-break{
  background-color: black;
  width: 80vw;
  /* margin: auto; */
  margin: -10px 10px;
}

.fighter-select{
  width: 30vw;
  margin: 6vh auto;
  height: 5vh;
}

.fighter-photo{
  height: 22vh;
  margin-top: 6vh;
}

.fighter-select-container{
  width: 80vw;  
  display: flex;
  flex-direction: row;
}

.signup-submit-all{
  width: 9vw;
  margin: 15px 0;
  margin-left: 70vw;
}

.signup-submit{
  width: 10vw;
  margin-top: 15px;
  margin-left: 0vw;
}
.message{
  color: red; 
  font-weight: bold;
}

.hidden{
  display: none;
}

.input {
  padding: .7rem;
  margin-top:5vh;
  border: none;
  border: 1px solid black;
  font-size: .9rem;
}

.form-item-wrapper{
  margin-top:1vh;
}

.btn-submit{
  border: solid white;
  height: 35px;
  width: 16vw;
  color: white;
  background-color: rgb(20,20,20);
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 20px; */
  font-size: 1rem;
  margin-top: 4vh;
  margin-left: 21vw;
}

.input-text{
  width:30vw;
  margin-left : 2vw;
  margin-top:3vh;
}

.sign-form-container{
  display: flex;
  flex-direction: column;
  justify-content: left
}

.form-sub-infos{
  margin-top: 1vh;
  margin-left: 23vw;
}

.form-title{
  font-size: 2.5rem;
  text-align: center;
}

#form_user{
  background-color: rgb(20,20,20);
    color: white;
    height: 34vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:45vw;
    margin:0 auto;
}

.form_user{
  background-color: rgb(20,20,20);
  color: white;
  height: 63vh;
  /* justify-content: center; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 46vw;
  margin: 0 auto;
  justify-items: flex-start;
  align-items: center;
}

.signin-container{
  background-color: rgb(20,20,20);
  color: white;
  height: 63vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;

}

.signin-container .flexed-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  margin-bottom: 12px;
}

.signin-container label {
  width: 78px;
}

.signin-container input {
  margin: 0;
}

.signin-container .form-item-wrapper:last-of-type {
  margin-top: 32px;
  align-items: center;
  display: flex;
}

.signin-container .form-item-wrapper:last-of-type label {
  width:auto;
  margin-right: 20px;
}

#imgPath{
 display: none; 
}

#selectFile{
  width: 46px;
  cursor: pointer;
  margin-left:20px;
}

#btn-next{
  border: solid white;
  height: 35px;
  width: 16vw;
  color: white;
  background-color: rgb(20,20,20);
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 20px; */
  font-size: 1rem;
  margin-top: 2vh;
  margin-left: 20vw;
}

@media only screen 
and (max-width:1080px){
 
  .input-text {
    width: 31vw;
    margin-left: 2vw;
    margin-top: 3vh;
    height: 0vh;
  }
  #form_user {
    background-color: rgb(20,20,20);
    color: white;
    height: 26vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 82vw;
    margin: 0 auto;
}
.btn-submit {
  border: solid white;
  height: 27px;
  width: 20vw;
  color: white;
  background-color: rgb(20,20,20);
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 20px; */
  font-size: .8rem;
  margin-top: 4vh;
  margin-left: 21vw;
}
.form-sub-infos {
  margin-top: 1vh;
  margin-left: 23vw;
  font-size: .8rem;
}
.signin-container {
  background-color: rgb(20,20,20);
  color: white;
  height: 63vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0 40px;
  box-sizing: border-box;
}

.form_user {
  background-color: rgb(20,20,20);
  color: white;
  height: 63vh;
  /* justify-content: center; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 86vw;
  margin: 0 auto;
  justify-items: flex-start;
  align-items: center;
}
}