@import "./article.css";  
@import "./home.css";  
@import "./user.css"; 
@import "./user_news.css";  
 
 



body {
  padding: 50px;
  font: 14px Arial, Helvetica, Arial, sans-serif;
  background-color: white;
  color : #202020;
}

a {
  text-decoration : none;
  color : inherit;
}

li{
  list-style : none;
  display : inline-block;
  
}



