.hello_div{
    display : flex;
    flex-flow : row wrap;
}

.user_text{
    margin-left : 2vw;
    margin-top : 0;
}


.user_gif_div img{
    max-width : 350px;
    max-height: 350px;
}

.userPrefUl{
    display : block;
    margin-top : 5px;
}

.userPrefLi{
    margin-right : 1em;
   

}



