.user-preferences{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fighter-img{
  height: 20vh;
  margin-top: 5vh;
  box-shadow: 5px 5px #20202028;
  border-radius: 30px;
}


.user-best {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  border: solid rgb(20, 20, 20);
  margin: 0 auto;
  height: 44vh;
  margin-top: 1vh;
  padding: 10px;
  box-shadow: 10px 10px rgb(0, 0, 0, 0.5);
  position: relative;
}

.user-profil-pic{
  border-radius: 50%;
  width: 10vw;
  height: 17vh;
  margin-top: 5vh;
  margin-left: 6vw;
}

.all-user-info-container-with-title{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.all-user-info-container{
  display: flex;
  flex-direction: row;
  margin-top: -2vh;
  margin-bottom: 2vh;
  color: white;
  width: 80vw;
  background-color: rgb(20,20,20);
}

.user-details-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(20,20,20);
  align-items: left;
  border-radius: 30px;
  height: 24vh;
  width: 52vw;
  color: white;
}

.league-choice-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75vw;
  justify-content: space-around;
}

.membership{
  margin-left: 3vw;
}

#userdetails-username{
  margin: auto;
}

.user-best-h2{
  margin-top:2vh;
  margin-left:2vw;
}

.one-fighter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: transform .2s linear;
  width: 28%;
  margin-bottom: 2vh;
}

.one-fighter-container * {
  pointer-events: none;
}

.one-fighter-container:hover{
  transform: scale(3);
  margin: 0 3vw;  
}

.choosen-fighter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: transform .2s linear;
  height:40vh;
}

.choosen-fighter-container:hover{
  transform: scale(.3);
  margin: 0 3vw;  
}

.league-logo{
  width: 9vw;
  margin: 0 3vw;
  margin-top:5.6vh;
  border-radius: 30px;
}

.choosen-logo{
  box-shadow: 5px 5px rgb(20,20,20);
  width: 10vw;
}

.unchoosen-logo{
  box-shadow: 5px 5px #20202028;
  
}

.unchoosen-logo:hover{
  transition: width .2s linear;
  width: 11vw;
  color:rgb(20,20,20);
  box-shadow: 5px 5px rgb(20,20,20);
}

.one-league-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit{
  border: solid white;
  height: 35px;
  width: 150px;
  color: white;
  background-color: rgb(20,20,20);
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
}

.btn-after-edit{
  border: solid white;
  height: 35px;
  width: 150px;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1rem;
  background-color: rgba(20,20,20,0.8);
}

.edition-element{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28vh;
  width: 75vw;
  margin-top: 6vh;
  justify-content: space-around;
}

.fighter-details-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24vh;
  width: 22vw;
}

.pref-logo{
  height: 8vh;
}

.pref-name{
  font-size: 0.2rem;  
}

.chosen-fighter{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(3);
    transition: transform .2s linear;
    margin: 0 3vw;  
}

.edition-element-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28vh;
  width: 97vw;
}

.unselected-container{
  color: rgba(20,20,20,0.8)
}

.user-best.league-choice{
  height:38vh;
} 
@media only screen 
and (max-width:1080px){
  #userdetails-username {
    font-size: 3vw;
    margin-bottom: 25vh;
}
.membership{
  display: none;
}
.user-profil-pic {
  border-radius: 50%;
  width: 26vw;
  height: 13vh;
  margin-left: 10vw;
}
.edition-element {
  flex-wrap: wrap;
}
.chosen-fighter {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5);
  transition: transform .2s linear;
  margin: 0 3vw;
  font-size:1rem;
}

.btn-edit {
  border: solid white;
  height: 25px;
  width: 88px;
  color: white;
  background-color: rgb(20,20,20);
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.7rem;
}
.all-user-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  align-self: center;
}
.user-best {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 75vw;
  border: solid rgb(20, 20, 20);
  margin: 0 auto;
  height: 50vh;
  margin-top: 1vh;
  padding: 10px;
  box-shadow: 10px 10px rgb(0, 0, 0, 0.5);
  position: relative;
}

.one-fighter-container:hover{
  transform: scale(1.5);
  margin: 0 3vw;  
}


.unchoosen-logo:hover{
  transition: width .2s linear;
  width: 7vw;
  color:rgb(20,20,20);
  box-shadow: 5px 5px rgb(20,20,20);
}


.choosen-fighter-container:hover{
  transform: scale(.3);
  margin: 0 3vw;  
}
.league-name{
  font-size:1vw;
}
.user-best.league-choice{
  height:26vh;
}


}
