<div class="container">
    {{> user_welcome}}
</div>
<div class="container">
    {{>aside_user}}
  <div class="articles">
      {{#each article}}
      {{>article_container}}
      {{/each}}
  </div>
</div>